{erl_opts, [debug_info, fail_on_warning]}.

{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{deps, [
        {gproc, ".*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.3"}}},
        {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag, "0.10.0"}}},
        {mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}},
        {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {branch, "develop"}}},
        {riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch, "develop"}}},
        {yaws, ".*", {git, "https://github.com/klacke/yaws.git", {tag, "yaws-1.98"}}}
       ]
}.
