{erl_opts, [debug_info, fail_on_warning]}.

{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{deps, [
        {gproc, "0.2.*", {git, "https://github.com/uwiger/gproc.git", {tag, "0.2.16"}}},
        {riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch, "master"}}},
        {yaws, ".*", {git, "https://github.com/klacke/yaws.git", {branch, "master"}}}
       ]
}.
