%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8881"}.
{handoff_port,          "8101"}.
{yaws_ip,               "{127,0,0,1}"}.
{yaws_port,             "8081"}.

%%
%% etc/vm.args
%%
{node,                  "west1@127.0.0.1"}.
