%%
%% etc/app.config
%%

%% Riak Core
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8882"}.
{handoff_port,          "8102"}.

%% YAWS
{yaws_ebin_dir,         "./lib/*/ebin"}.
{yaws_ip,               "{127,0,0,1}"}.
{yaws_port,             "8082"}.
{yaws_docroot,          "./www"}.
{yaws_servername,       "west_server"}.

%% WEST
{dist,                  "west_dist"}.
{dist_props_opts_n,     "1"}.
{dist_props_opts_q,     "1"}.
{ws_handshake_cb,       "{none, none}"}.

%%
%% etc/vm.args
%%
{node,                  "west2@127.0.0.1"}.
