%%
%% etc/app.config
%%

%% Riak Core
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8883"}.
{handoff_port,          "8103"}.

%% YAWS
{yaws_ebin_dir,         "./lib/west-0.1.0/ebin"}.
{yaws_ip,               "{127,0,0,1}"}.
{yaws_port,             "8083"}.
{yaws_docroot,          "./www"}.
{yaws_servername,       "west_server"}.

%% WEST
{dist,                  "west_dist"}.
{dist_n,                "1"}.
{dist_q,                "1"}.
{ws_handshake_cb,       "{none, none}"}.

%%
%% etc/vm.args
%%
{node,                  "west3@127.0.0.1"}.
