%%
%% etc/app.config
%%
{ring_state_dir,        "data/ring"}.
{web_ip,                "127.0.0.1"}.
{web_port,              "8883"}.
{handoff_port,          "8103"}.
{yaws_ip,               "{127,0,0,1}"}.
{yaws_port,             "8083"}.

%%
%% etc/vm.args
%%
{node,                  "west3@127.0.0.1"}.
