[
 %% Riak Core config
 {riak_core, [
              %% Default location of ringstate
              {ring_state_dir, "{{ring_state_dir}}"},

              %% http is a list of IP addresses and TCP ports that the Riak
              %% HTTP interface will bind.
              {http, [ { "{{web_ip}}", {{web_port}} } ] },

              %% riak_handoff_port is the TCP port that Riak uses for
              %% intra-cluster data handoff.
              {handoff_port, {{handoff_port}} }
             ]
 },

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]
 },

 %% YAWS config
 %% @see <a href="http://yaws.hyber.org">YAWS Docs</a>
 {yaws, [
         {docroot, "{{server_docroot}}" },
         {gconf, [{id, "embedded"},
                  {ebin_dir, ["{{server_ebin_dir}}"]},
                  {runmod, "yapp"}]},
         {sconf, [{servername, "{{server_name}}" },
                  {listen, {{server_ip}} },
                  {port, {{server_port}} },
                  {docroot, "{{server_docroot}}" },
                  {appmods, [{"websocket", west_yaws_ws_endpoint}]},
                  {opaque, [{yapp_server_id, "yapp_west"},
                            {bootstrap_yapps, "west"}]}]}
        ]
 },

 %% Cowboy
 %% @see <a href="http://ninenines.eu">Cowboy Docs</a>
 {cowboy, [
           {routes, [
                     {'_', [
                            {"/", cowboy_static, {file, "{{server_docroot}}/index.html"}},
                            {"{{cowboy_ws_resource}}/text/:key", west_cowboy_ws_text_handler, []},
                            {"{{cowboy_ws_resource}}/json/:key", west_cowboy_ws_json_handler, []},
                            {"{{cowboy_ws_resource}}/pb/:key", west_cowboy_ws_pb_handler, []},
                            {"/[...]", cowboy_static, {dir, "{{server_docroot}}", [{mimetypes, cow_mimetypes, all}]}}
                           ]
                     }
                    ]
           },
           {trans_opts, [{port, {{server_port}} }]},
           {c_acceptors, {{cowboy_c_acceptors}} }
          ]
 },

 %% WEST
 {west, [
         %% WEST distribution model.
         %% west_dist: Riak Core + Gproc local
         %% gproc_dist: Gproc distributed (gen_leader)
         %% gproc: Gproc local
         {dist, {{dist}} },

         %% dist_props opts.
         %% dist_props_opts_n = replicas
         %% dist_props_opts_q = quorum
         {dist_props, [{opts, [{n, {{dist_props_opts_n}} }, {q, {{dist_props_opts_q}} }]}]},

         %% WEST Web Server.
         %% yaws: YAWS Web Server
         %% cowboy: Cowboy Web Server (Lightweight)
         %% default: 'cowboy' for single node, and 'yaws' for distributed WEST
         {web_server, {{web_server}} },

         %% HTTP WebSocket Handshake Callback Spec
         %%
         %% http_ws_handshake_callback = {Module :: atom(), Function :: atom()}
         %%
         %% This callback is invoked when WS protocol handshake is initialized.
         %% In case of YAWS, the parameter 'Arg' is passed to the callback.
         %% In case of Cowboy, the parameter 'Req' is passed to the callback.
         %% The callback is invoked in this way:
         %%
         %% apply(Module, Function, [A]) -> Response.
         %%
         %% Where:
         %%    Module = atom() - Module name
         %%    Function = atom() - Function name
         %%    A = #arg{} (YAWS) | #http_req{} (Cowboy)
         %%    Response = ok | {ResponseCode, ReasonPhrase} | any()
         %%    ResponseCode = integer()
         %%    ReasonPhrase = binary()
         %%
         %% If the applied function returns 'ok' then the upgrade fromm HTTP
         %% to WebSocket continues, other cases upgrade is refused.
         {http_ws_handshake_callback, {{http_ws_handshake_callback}} }
        ]
 }
].

