[
 %% Riak Core config
 {riak_core, [
              %% Default location of ringstate
              {ring_state_dir, "{{ring_state_dir}}"},

              %% http is a list of IP addresses and TCP ports that the Riak
              %% HTTP interface will bind.
              {http, [ { "{{web_ip}}", {{web_port}} } ] },

              %% riak_handoff_port is the TCP port that Riak uses for
              %% intra-cluster data handoff.
              {handoff_port, {{handoff_port}} }
             ]
 },

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]
 },

 %% YAWS config
 {yaws, [
         {docroot, "{{yaws_docroot}}" },
         {gconf, [{id, "embedded"},
                  {ebin_dir, ["./lib/west-0.1.0/ebin"]},
                  {runmod, "yapp"}]},
         {sconf, [{servername, "{{yaws_servername}}" },
                  {listen, {{yaws_ip}} },
                  {port, {{yaws_port}} },
                  {docroot, "{{yaws_docroot}}" },
                  {appmods, [{"west", west_yout}]},
                  {opaque, [{yapp_server_id, "yapp_west"},
                  {bootstrap_yapps, "west"}]}]}
        ]
 },

 %% WEST
 {west, [
         %% WEST distribution model.
         %% west_dist: Riak Core + Gproc local
         %% gproc_dist: Gproc distributed (gen_leader)
         {dist, {{dist}} },

         %% west_dist opts.
         %% dist_n = replicas
         %% dist_q = quorum
         {west_dist, [{opts, [{n, {{dist_n}} }, {q, {{dist_q}} }]}]},

         %% WebSockets Handshake Callback
         %% This callback is invoked when WS protocol handshake is initialized
         %% and the parameter ´Arg´ of YAWS is passed to the function
         %% ´Module:Function(Arg)´
         %% ws_handshake_cb = {Module, Function}
         {ws_handshake_cb, {{ws_handshake_cb}} }
        ]
 }
].

